.mobile-menu-bar {
    background: rgba(73, 77, 91, 0.4);
    box-shadow: 1px 2px 8px 0px rgba(85, 89, 105, 0.1);
    padding: 0 0.1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 99;
}

.mobile-menu-bar:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(73, 77, 91, 0.4);
    backdrop-filter: blur(5.5px);
    height: 100%;
    width: 100%;
}

.mobile-menu-bar-btn {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 0.5rem;
}

.mobile-menu-bar-btn-text {
    color: #787b8a;
    font-family: var(--light-font-family);
    font-size: 0.625em;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-top: 4px;
}

.mobile-menu-bar-btn-icon {
    color: #787b8a;
}

.mobile-menu-bar-btn-center-item {
    border-radius: 10px;
    display: flex;
    background: var(--secondary-color);
    width: 100%;
    height: 100%;
    align-items: center;
    padding: 0.75rem 0.5rem;
}

.mobile-menu-bar-btn-center-item .mobile-menu-bar-btn-icon {
    color: var(--white-color);
}
